.rentItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  &Description {
    display: flex;
    flex-direction: column;
  }

  &Options {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      align-items: center;
      margin: 5px 0;

      input {
        margin-right: 5px;
      }
    }
  }

  &Cost {
    font-size: 28px;
    color: #165181;
  }
}