* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.btn {
  width: 220px;
  height: 58px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  font-size: 23px;
  cursor: pointer;
  color: #ffffff;

  &:hover {
    background: lighten(#007bff, 7%);
  }

  &:active {
    background: darken(#007bff, 7%);

  }
}

.login__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #f5f6f8;

  .login__logo {
    display: flex;
    margin-bottom: 33px;
    
    span {
      font-size: 48px;
      font-weight: 400;
      align-self: center;
      margin-left: 23px;
    }
  }

  .login__form {
    width: 753px;
    height: 430px;
    background-color: #FFFFFF;
    border-radius: 18px;
    padding: 40px 35px;

    span {
      display: block;
      font-size: 35px;
      color: #3D5170;
      margin-bottom: 30px;
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        font-size: 21px;
        color: #495057;
        margin-bottom: 10px;
      }

      input {
        padding: 16px 23px;
        font-size: 22px;
        border: 1px solid #BECAD6;
        border-radius: 6px;
        margin-bottom: 15px;
      }

      .login__btns {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.main__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 76px repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
  .main__content {
    background-color: #f5f6f8;
    grid-column: 2 / 6;
    grid-row: 2 / 6;
  }
}

.rent-car__wrapper {
  h2 {
    font-size: 32px;
    font-weight: 400;
    color: #3D5170;
    padding: 20px 0 20px 20px;
  }

  .rent-car__items {
    background-color: #fff;
    border-radius: 15px;
    margin: 0 20px;
  }
}