.rentItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-size: 18px;
  color: #868E96;

  img {
    width: 220px;
    height: 120px;
    border-radius: 5px;
  }

  &Description {
    display: flex;
    flex-direction: column;
    width: 200px;

    .name {
      font-size: 18px;
      font-weight: 700;
      color: #3C506F;
    }

    .name::first-letter {
      text-transform: uppercase;
    }

    .color {
      span {
        color: #3c506f;
        font-weight: 500;
      }
    }
  }

  &Options {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      align-items: center;
      margin: 5px 0;

      input {
        margin-right: 5px;
      }
    }
  }

  &Cost {
    width: 180px;
    font-size: 22px;
    color: #165181;
  }
}